<p id="notice"><%= notice %></p>

<h1 class = 'heroshowtitle'><%= @hero.name %></h1>

<div class = 'heroshow'>
	<div class = 'heroshowimage'><%= image_tag(@hero.image_url) if @hero.image.present? %></div>
	<div class = 'heroshowdescription'><%= @hero.description %></div>

<%= link_to 'Back', heros_path %>
