<p id="notice"><%= notice %></p>

<h1 class = 'heroshowtitle'><%= @hero.name %></h1>

<div class = 'heroshow'><%= image_tag(@hero.image_url) if @hero.image.present? %><%= @hero.description %></div>

<%= link_to 'Back', heros_path %>
