
<% content_for :head do %>
  <meta property="og:title"  content="Community Hero: <%= @hero.name %>" /> 
  <meta property="og:description"  content="<%= @hero.description %>" /> 
<% end %>
<h1 class = 'heroshowtitle'><%= @hero.name %></h1>
<br>
<div class = 'heroshow'>
	<div class = 'heroshowimage'><%= image_tag(@hero.image_url) if @hero.image.present? %>
	</div>

	<div class = 'heroshowdescription'>
	<%= simple_format (@hero.description) %>
	
	</div>
		<div class 'herosecondimage'><%= image_tag(@hero.secondimage_url) if @hero.secondimage.present? %>
		</div>
	<br>
	<p class = "back"><%= link_to 'Back', heros_path %></p>

</div>



<!-- #where blog writer from --> 

