
<% content_for :head do %>
  <meta property="og:url" content="<%= "http://quietgood.org" + hero_path(@hero) %>" /> 
  <meta property="og:title"  content="<%= @hero.name %>" /> 
  <meta property="og:image"  content="<%= image_tag(@hero.image_url) if @hero.image.present? %>" /> 
  <meta property="og:description"  content="<%= simple_format(@hero.post).html_safe %>" /> 
  <meta property="og:type" content="blog"/>
<% end %>
<h1 class = 'heroshowtitle'><%= @hero.name %></h1>
<br>
<div class = 'heroshow'>
	<div class = 'heroshowimage'><%= image_tag(@hero.image_url) if @hero.image.present? %>
	</div>

	<div class = 'heroshowdescription'>
	<%= simple_format (@hero.description) %>
	
	</div>
		<div class 'herosecondimage'><%= image_tag(@hero.secondimage_url) if @hero.secondimage.present? %>
		</div>
	<br>
	<p class = "back"><%= link_to 'Back', heros_path %></p>

</div>


