
<h1 class = 'blogshowtitle'><%= @blog.name %></h1>

<div class = 'blogshow'>
  <h4>by <em><%= @blog.author %></em><br></h4>
<!--   <h4><em><%= @blog.location if @blog.location.present?%></em></h4> -->
  <h4><em><%= @blog.date %></em></h4>

  <div class = 'blogshowimage'>
    <%= image_tag(@blog.image_url) if @blog.image.present? %>
  </div>
  <div class = 'blogpost'>
    <%= simple_format(@blog.post).html_safe %>
  </div>
  <p class = "back"><%= link_to 'Back', blogs_path %></p>
</div>


