<% content_for :head do %>
  <meta property="fb:app_id" content="myid" /> 
  <meta property="og:type"   content="sdff:post" /> 
  <meta property="og:url"    content="<%= "http://sdff.herokuapp.com" + post_path(@post) %>" /> 
  <meta property="og:title"  content="Sample" /> 
  <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" /> 
<% end %>
<h1 class = 'blogshowtitle'><%= @blog.name %></h1><br><br>

<div class = 'blogshow'>
  <h4>by <em><%= @blog.author %></em><br></h4>

  <h4><em><%= @blog.date %></em></h4>

  <div class = 'blogshowimage'>
    <%= image_tag(@blog.image_url) if @blog.image.present? %>
  </div>
  <div class = 'blogpost'>
    <%= simple_format(@blog.post).html_safe %>
  </div>
  <p class = "back"><%= link_to 'Back', blogs_path %></p>
<!--   <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
  Share on Facebook
</a> -->
</div>


