
<% content_for :head do %>
  <meta property="og:title"  content="Good Read: <%= @read.name %>" /> 
   <meta property="og:description"  content="<%= @read.synopsis %>" /> 
<% end %>
<h1 class = 'readshowtitle'><%= @read.name %></h1>
<br>

<div class = 'readshow'><%= image_tag(@read.book_url) if @read.book.present? %><%= simple_format(@read.synopsis) %></div> 
<span class = "facebook" >
	Share:
	<a href = "http://www.facebook.com/share.php?u=http://quietgood.org/reads/<%= @read.id%>"> o </a>
</span>
<p class = "back"><%= link_to 'Back', reads_path %></p>

