
<% content_for :head do %>
  <meta property="og:title"  content="Good Read: <%= @read.name %>" /> 
    <meta property="og:description"  content="<%= simple_format(@read.description)%>" /> 

<% end %>
<h1 class = 'readshowtitle'><%= @read.name %></h1>
<br>

<div class = 'readshow'><%= image_tag(@read.book_url) if @read.book.present? %><%= simple_format(@read.synopsis) %></div> 

<p class = "back"><%= link_to 'Back', reads_path %></p>