<!DOCTYPE html>
<html>
<head>
	<title>QuietGood</title>
	<meta name="description" content="QuietGood | Sharing kind words, thoughtful gestures, creative ideas and powerful actions that infuse life with meaning and joy">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= favicon_link_tag 'Quietgoodfavicon.ico' %>
	<%= content_for?(:head) ? yield(:head) : '' %>
</head>
<body>
	
<!-- Navigation -->
<h1 class = "header"><a href = "/home">quiet<strong>good</strong></a></h1>
<nav id="navigation">
<a class="menu_button" href="#" onclick="toggleNav(); return true;">more</b></a>
	<ul id="custom-menu" role="navigation">
		<li class="custom-menu5"> 
	        <a href="/connect">
	            <div class="content"> 
	            <h2 class="link">connect</h2>
	            <h2 class="secondary">more resources</h2> 
	            </div>
	        </a> 
	    </li>  
		<li class="custom-menu4"> 
	        <a href="/reads">
	            <div class="content"> 
	            <h2 class="link">read</h2>
	            <h2 class="secondary">good books</h2> 
	            </div>
	        </a> 
	    </li>   
	 	<li class="custom-menu3"> 
	        <a href="/smile">
	            <div class="content"> 
	            <h2 class="link">smile</h2>
	            <h2 class="secondary">photos of day</h2> 
	            </div>
	        </a> 
	    </li> 
	 	<li class="custom-menu2"> 
	        <a href="/heroes">
	            <div class="content"> 
	            <h2 class="link">act</h2>
	            <h2 class="secondary">people</h2> 
	            </div>
	        </a> 
	    </li> 
   		<li class="custom-menu1"> 
	      <a href="/blogs">
	            <div class="content"> 
	            <h2 class="link">inspire</h2>
	            <h2 class="secondary">blog</h2> 
	            </div>
	        </a> 
	    </li> 
<!-- 	    <li class="search">
	    	 <form class="navbar-form navbar-right" role="search">
			    <div class="form-group">
			      <input type="text" class="form-control" placeholder="Search">
			    </div>
			    <button type="submit" class="btn btn-default">Submit</button>
			</form>
	    </li>  -->
	</ul>
</nav>
<body>
<div id = "fore">

<%= yield %>
</div>

</body>

</html>
